.venv/
**/__pycache__/

# Real config
config.json

# Real data
data/patches.json
data/cookies/*.txt
data/tag_translation.json
data/gamelist.json
urls.txt
gameindex.html


src/tests/*

# Binaries
# e.g. chromedriver (to be downloaded and extracted from here: https://googlechromelabs.github.io/chrome-for-testing/)
/bin